.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 250px;
  flex-wrap: wrap;
  overflow: hidden; /* Hide overflowing content */
  background-color: #fff; /* White background */
  margin: 20px; /* Spacing around the card */
  padding: 10px; /* Padding inside the card */
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease; /* Smooth scaling transition */
}

.card:hover {
  transform: scale(1.05); /* Scale up card on hover */
}

.image-container {
  width: 100%; /* Full width */
  height: 300px;
  overflow: hidden; /* Hide overflow */
}

.the_image {
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: cover; /* Maintain aspect ratio, cover container */
  transition: transform 0.3s ease; /* Smooth scaling transition */
}

.text_box {
  padding: 5px; /* Padding inside the text box */
  text-align: center; /* Center-align text */
}

.title {
  font-size: 18px; /* Font size for title */
  font-weight: bold; /* Bold font weight */
  color: #333; /* Dark gray color */
  margin-bottom: 5px; /* Space between title and details */
  border-bottom:1px solid black;
  display: block;
}

.details1  {
  font-size: 14px; /* Smaller font size for details */
  font-weight: normal; /* Normal font weight */
  color: #666; /* Lighter gray color for details */
}
.details2{
font-size: 14px; /* Smaller font size for details */
  font-weight: normal; /* Normal font weight */
  color: #666; /* Lighter gray color for details */
}
