.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding-left: 7px;
    padding-right: 125px;
    box-sizing: border-box;
    height: 75px;
    /* opacity:70%; */
    
}

.brand a {
    color: white;
    text-decoration: none;
    font-size: 45px;
}

.toggler{
    display: none;
}

.menuItems {
    display: flex;
    gap: 15px;
    font-size: 25px;
}
.menuItems a:hover{
    background-color: rgb(255, 72, 0);
    color:black;
    border-radius: 5px;

}

.menuItems a {
    font-size: medium;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    padding:5px;

}

.logo_image{
    margin-left:40px;
    opacity: 100%;
    width:110px;
    height:100%;
    object-fit: cover;
    transition: 0.3s;
}
.logo_image:hover{
    transform: scale(1.2);
}

/* Mobile view */
@media (max-width: 768px) {
    .toggler{
        display:inline;
        
        
    }
    .toggle_clr{

        color:rgb(255, 72, 0)
    }
    .menuItems {
        display: none;
        flex-direction: column;
        width: 60%;
        text-align: center;
        background-color: #020000;
        padding: 1rem;
        position: absolute;
        top: 60px;
        left:20%;
        box-sizing: border-box;
        transition: transform 0.5s ease;
        
    }

    .menuItems.open {
        display: flex;
    }

    .menuItems a {
        padding: 0.5rem 0;
        border-bottom: 1px solid #555;
    }

    .menuItems a:last-child {
        border-bottom: none;
    }
}
